.header {

	.head {

		h1 {
			font-size: 2rem;
			font-weight: 100;
			margin-bottom: 0;
			margin-top: 15px;

			a {
				letter-spacing: normal;
				font-weight: 100;
				color: #0b0b46;

				&::before {
					display: none;
				}
			}
		}
	}

	.links {
		margin: 10px;

		a {
			margin: 0 1em;
		}
	}
}
