.header {

	.head {

		.title {
		    overflow: hidden;

			h1 {
				font-weight: 100;
				margin-bottom: 0;
				margin-top: 15px;
			}
		}

		.links {
			margin: 10px;

			a {
				margin: 0 1em;

				&:first-child {
					color: $lighten-5;
					pointer-events: none;
					cursor: default;
				}
			}
		}
	}

	@media screen and (min-width: 415px) and (max-width: 736px) and (orientation: landscape) {

		.head .links {
			margin: 0;
		}
	}
}
