.main-section {
	padding-top: 100px;

	@media screen and (min-width: 415px) and (max-width: 736px) and (orientation: landscape) {
		padding-top: 20px;
	}

	@media screen and (min-width: $large-screen) {
		padding-top: 200px;
	}

	.main {
		max-width: 767px;
		margin: 0 auto;
		padding: 0 10px;

		a {
			margin: 20px 0 0;
			font-size: 120%;
		}
	}
}
