body {
	display: flex;
    flex-direction: column;
    min-height: 100vh;
	color: #666;
	font: 13px/1.1 "Roboto", sans-serif;
	text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	font-weight: 300;
	margin-top: 0;
	margin-bottom: .5rem;
}

h1 {
	font-size: 2.5rem;
    margin: .67em 0;
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.75rem;
}

h4 {
	font-size: 1.5rem;
}

h5 {
	font-size: 1.25rem;
}

h6 {
	font-size: 1rem;
}


//================


* {
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	-webkit-tap-highlight-color: transparent;

	&:focus {
		outline: 0;
	}
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

hr {
	margin: 1rem 0;
	border: 0;
	border-top: 1px solid rgba(0, 0, 0, .1);
}

a {
	// color: $link-color;
    // text-decoration: none;
    // cursor: pointer;
    // // Gets rid of tap active state
    // -webkit-tap-highlight-color: transparent;
	position: relative;
	display: inline-block;
	color: inherit;
	font-weight: 300;
	text-transform: capitalize;
	text-decoration: none;
	letter-spacing: .055em;

	&::before {
		position: absolute;
		display: block;
		content: '';
		width: 0;
		height: 1px;
		bottom: -5px;
		left: 0;
		background: rgba(0, 0, 0, .4);
		will-change: width;
		transition: width .22s;
	}

	&:hover::before {
		width: 100%;
	}
}

.flex-center {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
	// height: 100%;

    p {
        margin: 0;
    }
    ul {
        text-align: center;
        li {
            margin-bottom: 1rem;
        }
    }
}
