$lighten-5:  #D0D6E2;
$lighten-4:  #B1BACE;
$lighten-3:  #929FBA;
$lighten-2:  #7283A7;
$lighten-1:  #59698D;
$base:       #45526E;
$darken-1:   #3B465E;
$darken-2:   #2E3951;
$darken-3:   #1C2A48;
$darken-4:   #1C2331;

$small-screen: 600px !default;
$medium-screen: 992px !default;
$large-screen: 1200px !default;

$roboto-font-path: "../fonts/roboto/" !default;
